<form [formGroup]="FilmForm" class="ui form">
    <div class="form-group field">
        <label>Titre
            <input class="form-control" formControlName="title" required>
        </label>
    </div>
    <div class="form-group field">
        <label>Durée (min.)
            <input type="number" class="form-control" formControlName="duree" required>
        </label>
    </div>
    <div class="form-group field">
        <label>Budget (€)
            <input type="number" class="form-control" formControlName="budget" required>
        </label>
    </div>
    <div class="form-group field">
        <label>Date
            <input class="form-control" formControlName="date" required placeholder="09/06/2000">
        </label>
    </div>
    <div class="form-group field">
        <label>Montant recette (€)
            <input class="form-control" formControlName="montantRecette" required>
        </label>
    </div>
    <div class="form-group field">
        <label>Réalisateur
            <select class="form-control" formControlName="realisateur" required>
                <option *ngFor="let director of directors" value="{{director.id}}"
                        [selected]="film.id && director.id == film.realisateur.id">{{director.prenom}} {{director.name}}</option>
            </select>
        </label>
    </div>
    <div class="form-group field">
        <label>Catégorie 
            <select class="form-control" formControlName="categorie" required>
                <option *ngFor="let category of categories" value="{{category.id}}"
                [selected]="film.id && category.id == film.categorie.id">{{category.libelleCat}}</option>
            </select>
        </label>
    </div>
    <div class="form-group field">
        <input type="submit" class="ui button summary" (click)="submit()" value="Valider">
    </div>
</form>