<h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]="ActorForm">
    <div class="form-group">
        <label class="center-block">Prénom:
            <input class="form-control" formControlName="prenom" required>
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Nom:
            <input class="form-control" formControlName="nom" required>
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Date de naissance:
            <input type="date" class="form-control" formControlName="dateNaissance" required>
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Date de décès:
            <input type="date" class="form-control" formControlName="dateDeces">
        </label>
    </div>
    <div class="form-group">
            <input type="submit" class="ui button summary" (click)="submit()" value="Valider">
    </div>
</form>


<p>Form value: {{ ActorForm.value | json }}</p>