<form [formGroup]="ActorForm" class="ui form">
    <div class="form-group field">
        <label>Prénom
            <input class="form-control" formControlName="prenom" required>
        </label>
    </div>
    <div class="form-group field">
        <label>Nom
            <input class="form-control" formControlName="nom" required>
        </label>
    </div>
    <div class="form-group field">
        <label>Date de naissance
            <input class="form-control" formControlName="dateNaissance" required placeholder="09/06/2000">
        </label>
    </div>
    <div class="form-group field">
        <label>Date de décès
            <input class="form-control" formControlName="dateDeces" placeholder="09/06/2000">
        </label>
    </div>
    <div class="form-group field">
            <input type="submit" class="ui button summary" (click)="submit()" value="Valider">
    </div>
</form>