<div class="ui left fixed vertical menu">
  <a class="item ui header">Cinema Epul</a>
  <div class="item">
    <app-history [history]="history"></app-history>
  </div>
</div>
<div class="ui container">
  <div class="ui message">
    <div class="ui input">
      <form>
        <input type="text" [(ngModel)]="url_tmp" name="url" placeholder="Write an url...">
        <input type="button" (click)="goUrl(url_tmp)" value="Watch the video">
      </form>
    </div>
    <app-video [url]="url"></app-video>
    <div *ngIf="url" class="ui green icon button" (click)="addToMarks(url)">
      <i class="add icon"></i> Add to bookmarks
    </div>
  </div>
</div>
<div class="ui right fixed vertical menu">
  <a class="item"><b>Bookmarks</b></a>
  <app-bookmarks [bookMarks]="bookMarks"></app-bookmarks>
</div>