<div class="ui text container" style="margin-top: 150px; margin-bottom: 150px;">
    <h1 class="ui inverted header">Bienvenue sur CinemaEpul !</h1>
    <p>Cette application vous permet d'accéder à l'ensemble des films français, ainsi que leurs acteurs.</p>
</div>
<br>
<br>
<br>
<br>

<div class="ui vertical stripe segment" style="background-color: white;">
    <div class="ui middle aligned stackable grid container" style="margin-top: 100px;margin-bottom: 50px;">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Tous vos films préférés</h3>
                <p>
                    Sur notre platefrome, profitez d'un contenu exclusif sur tout les films français !
                </p>
                <h3 class="ui header">Acteurs du monde</h3>
                <p>Vous cherchez des informations sur un acteur ? Vous êtes au bon endroit !</p>
            </div>
            <div class="six wide right floated column">
                <i class="film huge icon"></i>
            </div>

        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button" [routerLink]="['/films']">Liste des films</a>
            </div>
        </div>
    </div>
</div>